extends layout

block content
  h3( class="title-text") Welcome to the Deep Thought! Looking for someone?
  div(class = "crossword_frm_wrapper")
    form(onSubmit="return submitQuery(event)", id='frm_generate', method='post', class="frm_crossword")
      input( type='text', placeholder='Search Query', name=`search_query` class = "crossword_input", id="search_query")
      br
      br
      button(type="submit" value="Submit" id='frm_generate_submit' class="btn_crossword") Go
      br
      br
      table(id="result_table" class = "result_table")
        tr
          th Given Name
          th Middle Name
          th Surname
          th Search Score
      p( style="display:none" id = "api_res")
        | API Response Time : 
        span(id="api_res_time") 
        | ms
      p(style="display:none" id = "error_msg")
  
  script.
    function submitQuery() {
      try {
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", showResults);
        oReq.addEventListener("error", function() {
          console.log("An error occured");
        });
        var searchQuery = document.getElementById('search_query').value;
        oReq.open("GET", "/search?q=" + encodeURIComponent(searchQuery));
        oReq.send();

      } catch(e) {
        console.error(e);
      }
      return false;
    }
    function showResults(results, evt) {
      clearResults();
      var res = JSON.parse(results.target.responseText);
      if (res.error) {
        var err = document.getElementById('error_msg');
        err.style = "color:red;";
        err.innerHTML = res.error;
        return;
      }
      var table = document.getElementById('result_table');
      res.result.map((item) => {
        var tr = document.createElement('tr');
        Object.keys(item.result).map((key) => {
            var td = document.createElement('td');
            td.innerHTML = item.result[key];
            tr.appendChild(td);
        });
        var td = document.createElement('td');
        td.innerHTML = item.score.toFixed(2);
        tr.appendChild(td);
        table.appendChild(tr);
      });
      var resTime = document.getElementById("api_res_time");
      resTime.innerHTML = res.apiResTime + " ";
      var apiTimePara = document.getElementById("api_res");
      apiTimePara.style = "";
    }
    function clearResults() {
      var table = document.getElementById('result_table');
      while(table.children[1]) {
        table.removeChild(table.children[1]);
      }
      var err = document.getElementById('error_msg'); 
      err.style = "display:none";
    }
    
