doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/common.css')
    link(rel='stylesheet', href='/stylesheets/crossword.css')
  body
    div(class="banner-top")
      h1(class="page-title") Deep Thought
    block content
