.crossword_input {
    width: 35%;
    line-height: 6vh;
    border-radius: 5px;
    margin: 2px 10px 2px 10px;
    box-shadow: none;
    border: solid;
    border-color: rgba(194, 194, 214, 0.3);
    border-width: 1px;
    text-align: center;
    font-size: 15px;
}

.crossword_frm_wrapper {
    text-align: center;
}
.crossword_res_wrapper {
    text-align: center;
}

.frm_crossword {
    margin: auto;
}

.btn_crossword {
    width: 50%;
    height: 6vh;
    margin-top: 5px ;
    margin-bottom: 5px ;
    background: rgba(179, 236, 255, 0.2);/**/
    color: rgb(0, 64, 128);
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(0, 64, 128);
    font-weight: 800;
    font-size: 15px;
}

.crossword_emphasize {
    font-size : 20px;
}

.cw_cell {
    width : 30px;
    height: 30px;
    border: solid;
    border-width: 1px;
}

.cw_cell_dead {
    display: hidden;
}

.cw_table {
    display: inline-block;
    width: 60%;
    margin: 10px;
}

.cw_cell_hidden {
    opacity: 0;
}

#cwd_clue_list {
    list-style-type: none;
    font-size : 15px;
    padding-left: 5%;
}

.cwd_clues {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: left;
}
body {
    margin: 0;
}
.title-text {
    padding: 2% 5%;
}
.hiding {
    background:  #ff9966
}