body {
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title-text {
  text-align: center
}

.result_table {
  border: solid;
  border-width: 1px;
  width: 60%;
  margin: auto;
  font-size: 15px;
}